[submodule "3rd/tugraph-db"]
	path = 3rd/tugraph-db
	url = https://github.com/yangyang233333/tugraph-db.git
[submodule "tugraph-db"]
	path = tugraph-db
	url = https://github.com/yangyang233333/tugraph-db.git
